* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}
.section {
  padding: 20px 50px;
  margin-bottom: 60px;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --img: url("assets/stock-vector-website-programming-and-coding-web-development-and-coding-d-vector-illustrations-1906572394.jpg");
  --color-oscuro: rgba(0, 0, 0, 0.5);
  --color-card-info: rgba(36, 0, 70, 0.85);
}

/********************************HEADER ************************************ */
.container-header {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #9d4edd;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #9d4edd;
}

.header {
  margin-left: auto;
  margin-right: auto;
  background-color: #10002b;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding-left: 50px;
  padding-right: 50px;
}
.menu-input,
.menu-label {
  display: none;
}
.menu {
  display: flex;
  font-weight: bold;
  color: #9d4edd;
}
.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #9d4edd;
  width: 30%;
  text-align: center;
}

.menu a:hover {
  color: #e0aaff;
}

.logo a:hover {
  color: #e0aaff;
}

.home-boton {
  text-decoration: none;
  display: inline-block;
  border-radius: 0.3rem;
  padding: 10px;
  width: 180px;
  text-align: center;
  color: white;
  background-color: #9d4edd;
  font-size: 2rem;
  font-weight: bolder;
}

.home-boton:hover {
  background-color: #240046;
}

.home-container-img {
  background-image: var(--img);
  background-attachment: fixed;
}

.home-img {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--color-oscuro);
}

.home-container-texto {
  color: white;
  font-size: 6vh;
}

.home-texto {
  margin: 2rem auto;
  text-align: center;
  white-space: nowrap;
  border-right: 4px;
  width: 18ch;
  animation: typing 2s steps(18), blink 2s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/********************** ACERCA *************************************** */

.acerca-container {
  display: flex;
  align-content: center;
}

.acerca-imagen {
  width: 900px;
  height: auto;
  padding-top: 40px;
}

.acerca-texto-container {
  padding: 60px;
}
.acerca-texto-container h2 {
  padding-right: 80px;
  text-align: center;
}

.acerca-texto-parrafo {
  padding-right: 80px;
}

/********************** PORTAFOLIO *************************************** */

.container-porfolio {
  display: grid;
  grid-gap: 10px;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
}

.portfolio-titulo {
  grid-column: span 3;
  justify-content: center;
  text-align: center;
  text-align: center;
  border-top: solid #9d4edd;
  border-bottom: solid #9d4edd;
  padding: 0.7rem;
  margin: 2rem auto;
  width: 200px;
}

.portfolio-card {
  position: relative;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-card-info);
  opacity: 0;
  padding: 1rem;
  color: white;
}

.portfolio-card-info h3 {
  text-align: center;
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
}

.portfolio-card-info div {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

/********************** ***SERVICIOS ****************************************/

.container-servicios {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
}
.bg-section {
  background-color: #f3f3f3;
}
.servicios-titulo {
  grid-column: span 3;
  text-align: center;
  border-top: solid #9d4edd;
  border-bottom: solid #9d4edd;
  padding: 0.7rem;
  margin: 2rem auto;
  width: 200px;
}

.servicio-card h3 {
  text-align: center;
}
.servicio-card {
  padding: 1rem;
}

.servicio-card svg {
  display: block;
  margin: 1rem auto;
  fill: #9d4edd;
}

/***************************CONTACTO ****************************************/

.contacto-titulo {
  grid-column: span 1;
  justify-content: center;
  text-align: center;
  border-top: solid #9d4edd;
  border-bottom: solid #9d4edd;
  padding: 0.7rem;
  margin: 2rem auto;
  width: 200px;
}
.contatcto-cards {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 10px;
  justify-content: space-between;
}
.contacto-card {
  text-align: center;
  padding: 1rem;
}

.box-shadow {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 1);
}

.form-contacto {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
}

.form-contacto > * {
  margin: 3px;
  padding: 0.4rem;
  align-self: center;
  width: 100%;
}
.form-contacto input,
.form-contacto textarea {
  font-family: "Raleway", sans-serif;
  border: thin solid #9d4edd;
}
.form-contacto input {
  border: 0;
  border-bottom: thin solid #9d4edd;
}

.form-button {
  text-decoration: none;
  display: inline-block;
  border-radius: 0.3rem;
  padding: 10px;
  width: 180px;
  text-align: center;
  color: white;
  background-color: #9d4edd;
  font-size: 1rem;
  font-weight: bolder;
}

/***************************FOOTER ****************************************/
.footer {
  background-color: #10002b;
  padding: 1rem;
  color: white;
  text-align: center;
}

/***************************MEDIA QUERY ****************************************/

@media screen and (max-width: 768px) {
  .container-header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
  }

  .menu {
    position: fixed;
    right: 0;
    top: 3rem;
    width: 100%;
    background-color: #10002b;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 0.5s ease-in-out;
  }
  .menu a:hover {
    background-color: #9d4edd;
    color: white;
    width: 100%;
  }

  .menu-label {
    display: revert;
  }

  .menu-input {
    display: none;
  }
  .menu-label svg {
    outline: thin solid #9d4edd;
    border: 0;
    cursor: pointer;
    background-color: #10002b;
    fill: #9d4edd;
  }
  .menu-input:checked + .menu {
    clip-path: circle(100% at center);
  }
  /* 
  .menu-button {
    display: revert;
    outline: thin solid #9d4edd;
    border: 0;
    cursor: pointer;
    background-color: #10002b;
  }

  .menu-button svg {
    fill: #9d4edd;
  }
  .menu-button:hover ~ .menu {
    opacity: 1;
  }*/

  /**************************INICIO ****************************************/

  .home-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .home-container-texto {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .home-container-texto h2 {
    font-size: 7.5vw;
  }

  /********************** ACERCA ***************************************/

  .acerca-imagen {
    display: none;
  }

  .acerca-texto-parrafo {
    padding: 20px;
  }
  .acerca-texto-container {
    padding: 40px;
  }
  .acerca-texto-container h2 {
    padding: 0;
  }

  /********************** PORTAFOLIO ***************************************/
  .container-porfolio {
    display: grid;
    grid-template-columns: 1fr;
  }

  .portfolio-titulo {
    grid-column: 1/2;
  }

  /************************SERVICIOS ***************************************/

  .container-servicios {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .servicios-titulo {
    grid-column: 1/2;
  }

  .servicio-card {
    padding: 1rem;
    margin: 1rem auto;
  }
  /************************SERVICIOS ***************************************/

  .contatcto-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    justify-content: space-between;
  }
}
